
:root {
  --primary-color:rgb(62, 35, 80);
  --color-white: #fff;
  --color-black: rgb(46, 38, 24);
  --border-color: rgb(115, 19, 204);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 1.3rem;
  min-height: 100vh;
  line-height: 1.6;
}
/* utility  */
.container {
  padding: 0 5%;
}
a {
  color: var(--color-white);
  text-decoration: none;
}
p {
  color: var(--color-black);
}
.mb {
  margin-bottom: 4rem;
}
.heading-primary {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
.heading-secondary {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
}
.heading-tertiary {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: .5rem;
}
/* header  */
header {
  height: 10vh;
  display: flex;
}
.main-nav {
  width: 70%;
  background-color: var(--primary-color);
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-nav ul,
.sub-nav ul {
  list-style: none;
  display: flex;
}
.main-nav ul li a {
  text-transform: capitalize;
  padding-right: 2rem;
}
.logo {
  font-size: 1.5rem;
}
.sub-nav {
  width: 30%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.sub-nav ul li a {
  color: var(--primary-color);
  padding-left: 1.5rem;
}
/* hero  */
.hero {
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: space-between;
}
.content {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 1rem;
}
.hero-img {
  flex: 0 0 50%;
}
.hero-img img {
  width: 100%;
  height: 100%;
}
.btn {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  margin-top: 4rem;
}
/* services  */
.description {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  text-align: center;

.card {
  margin-bottom: 2rem;
  position: relative;
  background-color: rgb(197, 133, 176);
  padding: 2rem 2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.4s;
}
}
.card .icon img {
  width: 7rem;
  height: auto;
  margin-bottom: 3rem;
}
/* work  */
.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.work img {
  width: 100%;
  height: 100%;
}
/* contact  */
.contact-form form {
  width: 80%;
}
.contact-form .row {
  width: 100%;
  display: flex;
}
.input50 {
  width: 50%;
  margin: 0 10px;
}
.input100 {
  width: 100%;
  margin: 0 10px;
}
.contact-form .row input,
.contact-form .row textarea {
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--color-black);
  padding: 10px;
  outline: none;
  margin: 10px 0;
}
.contact-form .row textarea {
  height: 150px;
}
.contact-form .row input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: 0;
  cursor: pointer;
}
@media(max-width:950px) {
  .hero-img,
  .sub-nav {
    display: none;
  }
  .content {
    flex: 0 0 100%;
  }
  .main-nav {
    width: 100%;
  }
  .contact-form form {
    width: 100%;
  }
  .contact-form .row {
    flex-direction: column;
  }
  .contact-form .input100,
  .contact-form .input50 {
    width: 100%;
  }
}
/*********ozgecmis*********/
.container-o {
  font-family: 'Courier New', Courier, monospace;
}
.container-b {
  display: flex;
}
.container-b .card-body {
  position: relative;
  background-color: rgb(144, 146, 11);
  padding: 2rem 2rem 1rem;
  box-shadow: 0 8px 20px hsla(19, 83%, 31%, 0.08);
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.4s;
}

.table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

.table .table-info th {
  background-color: #749b0a;
  text-align: left;
  padding: 8px;
}
.table .table-info td {
  border-bottom: 1px solid #739c00;
  padding: 8px;
}
.table .table-info tr:nth-child(even){
  background-color: aqua;
}
/**********iletisim************/
.header .iletisim-h{
  height: 10vh;
  display: flex;
}
b-iletisim {
  background-image: url(img/relax.jpg);
}
.container-i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.iletisim-2 {
  text-align: center;
}
.iletisim-2 h1-i {
  text-align: center;

}
/*~~~~~~~~~~~~~~~ footer-home ~~~~~~~~~~~~~~~*/
.footer-home {
  padding-block: 3rem 2rem;
}
@media screen and (min-width: 1024px) {
  .footer-home {
    padding-block: 8rem 3rem;
  }
}
.footer-home__container {
  row-gap: 3rem;
}
@media screen and (min-width: 1024px) {
  .footer-home__container {
    position: relative;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
.footer-home__title {
  font-size: var(--font-md);
  margin-bottom: 1.5rem;
}
.footer-home__links {
  row-gap: 0.5rem;
}
.footer-home__link {
  color: var(--text-color);
  transition: color 0.3s;
}
.footer-home__link:hover {
  color: var(--primary-color);
}
@media screen and (min-width: 1024px) {
  .footer-home__title,
  .footer-home__description,
  .footer-home__link,
  .footer-home__information {
    font-size: var(--font-sm);
  }
}
.footer-home__social {
  display: flex;
  column-gap: 1.25rem;
}
.footer-home__social-link {
  color: var(--primary-color);
  font-size: 1.25rem;
  transition: color 0.3s, transform 0.3s;
}
.footer-home__social-link:hover {
  color: var(--primary-color-alt);
  transform: translateY(-2px);
}
@media screen and (min-width: 1024px) {
  .footer-home__social-link {
    font-size: 1.5rem;
  }
}
.footer-home__copy {
  text-transform: capitalize;
  text-align: center;
  font-size: var(--font-xm);
  color: var(--text-color-light);
}
.nav__logo,
.footer__logo {
  color: var(--primary-color);
  font-family: var(--title-font);
  font-size: var(--font-md);
  font-weight: var(--font-semi-bold);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.3s;
}
.nav__logo img,
.footer__logo img {
  width: 25px;
}