:root {
    --primary-color:rgb(62, 35, 80);
    --color-white: #fff;
    --color-black: rgb(46, 38, 24);
    --background-color: rgb(210, 139, 238);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    font-size: 1.3rem;
    min-height: 100vh;
    line-height: 1.6;
    background-image: url(img/relax.jpg);
  }
  /* utility  */
  .container {
    padding: 0 5%;
  }
  a {
    color: var(--color-white);
    text-decoration: none;
  }
  p {
    color: rgba(201, 44, 5, 0.719);
  }
  .mb {
    margin-bottom: 4rem;
  }
  .heading-primary {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  .heading-primary-1 {
    color: rgb(129, 18, 18);
    font-size: x-large;
  }

  .heading-secondary {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1;
    color: var(--primary-color);
    margin-bottom: 1.5rem;
  }
  .heading-tertiary {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
  }

  /* header  */
header {
    height: 10vh;
    display: flex;
  }
  .main-nav {
    width: 70%;
    background-color: var(--primary-color);
    padding-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-nav ul,
  .sub-nav ul {
    list-style: none;
    display: flex;
  }
  .main-nav ul li a {
    text-transform: capitalize;
    padding-right: 2rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .sub-nav {
    width: 30%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .sub-nav ul li a {
    color: var(--primary-color);
    padding-left: 1.5rem;
  }
  
  /* zero  */
.zero {
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: space-between;
  }
  .content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 1rem;
  }
  .zero-img {
    flex: 0 0 50%;
  }
  .zero-img img {
    width: 100%;
    height: 70%;
  }
  .btn {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    margin-top: 4rem;
  }
  /* ben  */
.description-b {
  height: 50vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description-b .iletisim-p {
  font-size: xx-large;
  color: rgb(160, 75, 10);
}
.cards1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  text-align: center;
  margin-top: 4rem;
}
.card-b {
  margin-bottom: 2rem;
}

.card-b .icon img {
  width: 7rem;
  height: auto;
  margin-bottom: 3rem;
}

/* iletisim  */
.iletisim-form form {
    width: 80%;
  }
  .iletisim-form .row {
    width: 100%;
    display: flex;
  }
  .input50 {
    width: 50%;
    margin: 0 10px;
  }
  .input100 {
    width: 100%;
    margin: 0 10px;
  }
  .iletisim-form .row input,
  .iletisim-form .row textarea {
    font-size: rem;
    font-weight: 300;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: var(--color-black);
    padding: 10px;
    outline: none;
    margin: 20px 0;
  }
  .iletisim-form .row textarea {
    height: 150px;
  }
  .iletisim-form .row input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--color-white);
    border: 0;
    cursor: pointer;
  }
  @media(max-width:950px) {
    .zero-img,
    .sub-nav {
      display: none;
    }
    .content {
      flex: 0 0 100%;
    }
    .main-nav {
      width: 100%;
    }
    .iletisim-form form {
      width: 100%;
    }
    .iletisim-form .row {
      flex-direction: column;
    }
    .iletisim-form .input100,
    .iletisim-form .input50 {
      width: 100%;
    }
  }
 